# Used by Coolify

providers = ["deno", "python"]

[phases.setup]
nixPkgs = [
  "...",
  # Install sops and age so that we can decrypt the secrets from .env.yaml
  "sops",
  "age",
  # Needed for the deno installer
  "unzip",
]
cmds = [
  # UV version is controlled by .tool-versions file (currently 0.9.8)
  # Nixpacks will automatically install UV based on that file
  # Download the same version of Deno we have in mise.toml (and which was used to generate the lockfile)
  "curl -fsSL https://deno.land/install.sh | sh -s v2.4.1",
]

[start]
# Run the app with the decrypted secrets
cmd = """PATH=/root/.deno/bin:$PATH bash -c 'deno install; sops exec-env .env.yaml "uv run emilybot"'"""
